flow.json
[
    {
        "id": "78333624fa970776",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bde38273f4e2b351",
        "type": "http response",
        "z": "78333624fa970776",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "d4dc7bfeb5bd797e",
        "type": "http in",
        "z": "78333624fa970776",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "1613e0b9ed31fdba"
            ]
        ]
    },
    {
        "id": "1613e0b9ed31fdba",
        "type": "function",
        "z": "78333624fa970776",
        "name": "",
        "func": "msg.payload = {\n    \"BLE\":{\n        \"deviceID\": \"8b9c6f9c-4bf5-ae78-e6e2-117e0a648759\",\n        \"x\":100,\n        \"y\":50\n    },\n    \"pressure\":{\n        \"pressure\":1000.0\n    },\n    \"temp_hum\":{\n        \"temperature\":20.0,\n        \"humidity\":70.0\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "bde38273f4e2b351"
            ]
        ]
    },
    {
        "id": "f5812201779fc07b",
        "type": "comment",
        "z": "78333624fa970776",
        "name": "URI規約",
        "info": "",
        "x": 260,
        "y": 220,
        "wires": []
    }
]