flow.json
[
    {
        "id": "78333624fa970776",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0de75ff9adac59a3",
        "type": "http response",
        "z": "78333624fa970776",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "fc8895c3c595cb84",
        "type": "http in",
        "z": "78333624fa970776",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "b49fb11a922bf7c9"
            ]
        ]
    },
    {
        "id": "b49fb11a922bf7c9",
        "type": "function",
        "z": "78333624fa970776",
        "name": "",
        "func": "msg.payload = {\n    \"BLE\":{\n        \"deviceID\": \"8b9c6f9c-4bf5-ae78-e6e2-117e0a648759\",\n        \"x\":100,\n        \"y\":50\n    },\n    \"pressure\":{\n        \"pressure\":1000.0\n    },\n    \"temp_hum\":{\n        \"temperature\":20.0,\n        \"humidity\":70.0\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            [
                "0de75ff9adac59a3"
            ]
        ]
    },
    {
        "id": "4663c7eb859aac4f",
        "type": "comment",
        "z": "78333624fa970776",
        "name": "URI規約",
        "info": "",
        "x": 340,
        "y": 240,
        "wires": []
    }
]